
@{
    //this will run on server side
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>
<hr />
<a href="/home/index">Home</a> |
<a href="/home/aboutus">AboutUs</a> |
<a href="/home/Contact">Contact</a> |
<a href="~/customer/index">Customer Details</a>
<hr />
<h3>ASP.NET</h3>
<br />
<ol>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
</ol>

<!-- Razor view File-->
