
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>
<hr />
<h3>ASP.NET</h3>
<a href="/home/Contact">Contact</a>
<br />
<ol>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
</ol>

<!-- Razor view File-->
