
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<hr />
<a href="/home/index">Home</a> |
<a href="/home/aboutus">AboutUs</a> |
<a href="/home/contact">Contact</a> |
<a href="~/customer/index">Customer Details</a>
<hr />
<a href="/home/AboutUs">About Us</a>
<p>
    Contact Person : Mayur Pawar<br />
    Location : Yavatmal<br />
    State : Maharashtra<br />
    PinCode : 445 001<br />
</p>

