
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<a href="/home/AboutUs">About Us</a>
<p>
    Contact Person : Mayur Pawar<br />
    Location : Yavatmal<br />
    State : Maharashtra<br />
    PinCode : 445 001<br />
</p>

