
@{
    ViewBag.Title = "Index";
}

<h2>ASP.NET Learning</h2>
<hr />
<a href="/home/index">Home</a> |
<a href="/home/aboutus">AboutUs</a> |
<a href="/home/contact">Contact</a> |
<a href="~/Customer/Index">Customer Details</a> | 
<a href="/Employees/Index">Employees Details</a>
<hr />

